{% extends 'base.html' %}

{% block content %}
<div class="ml-5">
   <h2 class="text-center text-primary ">{{ place.name }}</h2> 
    <div class="d-flex flex-column">
        <h4> Price: <em class="text-success">{{ place.price }}</em></h4>  <hr>
        <h4> You rated your experience <em class="text-success">{{ place.rating }}</em> /5 stars</h4> <hr>
        <h4> Visited on <em class="text-success">{{ place.date }}</em></h4>  <hr>
        <section>
            <h3> What you had to say about it: </h3>
            <p class="border border-light" style="width: fit-content;">
                    <h4 class="text-success">{{ place.desc }}</h4>
            </p> 
        </section> <hr>
    
    </div>
</div>

<div class="m-5">
 {% include 'partials/comment_form.html' %}
    {% if comments|length > 0 %}
        <h4>Previous comments</h4>
        <p>
        {% for comment in comments %}
        <div class='card p-4' style="width: fit-content;">
            <div class='card-block'>
                <p class='card-text'>{{ comment.comment }}</p>
                <p class="text-muted">{{comment.created_date.strftime("%Y-%m-%d")}}</p>
            </div>
        </div>
        {% endfor %}
        </p>
    {% else %}
        <h4>No Commments yet.</h4>
    {% endif %}


</div>
<!-- BUTTONS -->
<div class="text-center d-flex justify-content-center p-3">
    <p>
        <button class="btn btn-success  m-2"> <a class='text-light' href='/places/{{ place._id }}/edit'>Edit Restaurant </a></button>
    </p>
    <p>
        <form method='POST' action='/places/{{ place._id }}/delete'>
        <button class='btn btn-danger m-2' type='submit'>Delete Restaurant</button>
        </form>
    </p>
</div>

{% endblock %}
